<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>Site de revision</title>
</head>

<body>
    <div class="container">

        <header>
            <div class="articlesHead">
                <article>
                    <h2>Poullot François</h2>
                    <a href="http://www.poullotfrancois.fr/" target="_blank" class="lienImg"><img src="/img/ours.jpg" alt=""></a>
                    <span class="articleInfos"> Mon portfolio en lien !</span>
                    <p>Je suis le créateur de se "Template" créé après le cour sur Node/Express.</p>
                </article>
                <article>
                    <h2>Cthulhu</h2>
                    <a href="https://oclock.io/" target="_blank" class="lienImg"><img src="/img/cthulhu.png" alt=""></a>
                    <span class="articleInfos"> Notre centre de formation en lien !</span>
                    <p>Le groupe des Cthulu, qui comporte vos futures dev full.stack JS !</p>
                </article>
                <article>
                    <h2>Node</h2>
                    <a href="https://nodejs.org/en" target="_blank" class="lienImg"><img src="/img/node.png" alt="logo node.js"></a>
                    <span class="articleInfos"> Node en lien !</span>
                    <p>Tous ce que vous devez savoir sur Node, votre environnement de travail.</p>
                </article>
                <article>
                    <h2>Express</h2>
                    <a href="https://expressjs.com/fr/" target="_blank" class="lienImg"><img src="/img/express.png" alt=""></a>
                    <span class="articleInfos"> Expresse en lien !</span>
                    <p>Le package qui permet de réaliser votr router sous Node</p>
                </article>
            </div>
        </header>

        <main>
            <h1>Template Express</h1>
            <h2>Projet template</h2>
            <p>Dans le cadre d’une formation chez o’Clock, comme développer web JavaScript/React full stack, j’ai réalisé ce Template qui permet de générer un serveur de base.</p>
            <p>Il ne contient que deux routes, les autres à vous de la faire, mais il permet de vous donnez une trame de début.</p>
            <p>Une fois téléchargé ce Template sur GitHub, vous devez installer les packages nécessaire à son bon fonctionnement.</p>
            <p>Pour cela vous devez ouvrir une console (terminal) et tapez « npm i ».</p>
            <p>Bon taff à vous !</p>
        </main>
        <footer>
            <p>
                &copy; POULLOT François | 2024 | Cthulu / O'Clock
            </p>
        </footer>
    </div>
</body>

</html>