<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">

    <title>Site de revision</title>
</head>
<body>
    <div class="container">

        <main>
            <h1>Site de révision</h1>
            <h2>un titre</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aliquam perferendis voluptatibus debitis ipsam doloribus sunt rerum ab temporibus quasi fuga similique, delectus dolorum dolore qui non dolores aut reiciendis at sequi iure neque. Dolorum non accusamus nesciunt, temporibus atque reprehenderit quas optio nam mollitia.</p>
            <p>Maxime veniam iste, illo est cum corrupti ipsam doloremque eligendi consequuntur? Ratione numquam libero cupiditate ex tenetur voluptas veritatis harum illo aliquam! Nulla, libero vitae! Debitis, sapiente? Nobis sit vero exercitationem reprehenderit aspernatur voluptatem error temporibus nihil dignissimos tenetur voluptas tempora, enim dolores nemo officiis.</p>
            <p>Placeat sunt magnam nostrum doloremque incidunt ut, nam esse exercitationem, quia rerum vero. Vitae dicta, beatae dolorem, molestiae repellendus iste corporis neque incidunt ratione est et tenetur perferendis quia expedita ipsum officiis porro suscipit asperiores quae aliquam. Ipsam unde quod officiis, delectus iure ipsa numquam?</p>
        </main>
        <footer>
            <p>
                &copy; POULLOT François
            </p>
        </footer>
    </div>
</body>
</html>